<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
<h1>People</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="first_name">Firstname:</label>
    <input type="text" id="first_name" name="first_name"><br><br>

    <label for="last_name">Lastname:</label>
    <input type="text" id="last_name" name="last_name"><br><br>

    <label for="age">age</label>
    <input type="text" id="age" name="age"><br><br>

    <label for="email">email</label>
    <input type="text" id="email", name="email"><br><br>

    <input type="submit" value="Add People">
</form>
<h1>List of people</h1>
<ul>
    {% for person in people %}
    <li>{{ person.first_name }} {{ person.last_name }} {{ person.email }}</li>
    {% endfor %}
</ul>

</body>
</html>